.faq {
  padding:calc(var(--default-padding) * 2) var(--default-padding);

  & .text {
    display: none; /* Initially hide the text */
  }

  & .show-text.show-text.show-text{
    display: block;
  }
  & .open-corners {
    border-radius: 16px 16px 0 0 !important;
  }
  & .show {
    display: block !important;
  }
  & .open-btn, .close-btn {
    display: none;
  }
  & h1 {
    margin-bottom:var(--heading-margin);
  }
  
  & .faq-card {
    margin-bottom: 24px;

    & .title {
      display: flex;
      gap:16px;
      padding:16px;
      background-color: var(--clr-bluewhite);
      border-radius:16px;
      cursor: pointer;
      overflow-wrap: break-word;
      word-break: break-word;

      & h2 {
        user-select: none;
  
      }

      & button {
        background: none;
        border:none;
        display: flex;
        place-items: center;
        cursor:pointer;
      }
    }
    & .text {
      padding:32px;
      background-color: var(--clr-offwhite);
      border-radius: 0 0 16px 16px;
      display: none;
    }
  }
}