.faq {
  padding: calc(var(--default-padding) * 2) var(--default-padding);
}

.faq .text {
  display: none; /* Initially hide the text */
}

.faq .show-text.show-text.show-text {
  display: block;
}

.faq .open-corners {
  border-radius: 16px 16px 0 0 !important;
}

.faq .show {
  display: block !important;
}

.faq .open-btn,
.faq .close-btn {
  display: none;
}

.faq h2 {
  margin-bottom: var(--heading-margin);
}

.faq .faq-card {
  margin-bottom: 24px;
}

.faq .faq-card .title {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--clr-bluewhite);
  border-radius: 16px;
  cursor: pointer;
  overflow-wrap: break-word;
  word-break: break-word;
}

.faq .faq-card .title h2 {
  user-select: none;
}

.faq .faq-card .title button {
  background: none;
  border: none;
  display: flex;
  place-items: center;
  cursor: pointer;
}

.faq .faq-card .text {
  padding: 32px;
  background-color: var(--clr-offwhite);
  border-radius: 0 0 16px 16px;
  display: none;
}
