#footer {
  background-color: var(--clr-greenblack);
  padding: calc(var(--default-padding) * 2);

  h1, h2, h3, h4, h5, p, li, a {
    color:var(--clr-offwhite);
    font-size:16px;
    margin-bottom:32px;
    list-style: none;
    text-decoration: none;
    
  }
  ul {
    margin-bottom:32px;
  }
  img {
    margin-bottom: 24px;
  }
  .footer_right {
    display: flex;
    justify-content: space-between;
    margin-bottom:64px;
    align-content: end;
  }
  .footer__nav {
    display: flex;
    flex-direction: column-reverse;
  }
  h5 {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom:16px;
  }
  a, li {
    margin-bottom:8px;
    text-decoration: none;
    font-weight: 400;
  }
  hr {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #7D7D7D;
    margin-bottom: 15px;
  }
  small {
    color: #7D7D7D;
    display: block;
    text-align: center;
    font-family: var(--font-mono);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    a {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
}
@media screen and (width < 600px) {
  .footer_right {
    flex-direction: column;
  }

}