.contact-form {
  padding: 0 var(--default-padding) calc(var(--default-padding) * 2) var(--default-padding);
}

.contact-form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.contact-form h2 {
  margin-bottom: var(--heading-margin);
}

.contact-form form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--clr-offwhite);
  border: none;
  font-family: var(--font);
  width: 100%;
  font-weight: normal;
  font-size: var(--p);
}

.contact-form textarea {
  font-weight: normal;
  font-size: var(--p);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: var(--font);
  font-display: normal;
  font-weight: normal;
  font-size: var(--p);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid var(--clr-red);
}

.contact-form button {
  background-color: var(--clr-red);
  height: inherit;
}

.contact-form img {
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
  height: 100%;
}

.contact-form #message {
  height: 200px;
}

@media screen and (max-width: 600px) {
  .contact-form .form-grid {
    grid-template-columns: 1fr;
  }
}
