.hero {
  background-color: var(--elderberry-black);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100lvh;
  background: url(/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top; 
  padding:var(--default-padding);
}
.logo-tsp {
  min-width:120px;
  width:20vw;
  max-width: 300px;
  /* width:auto; */
}
.logo, .subtitle {
  width: 60vw;
  color:white;
}
.subtitle {
  margin-top:10px;
  letter-spacing: 1px;
}
.btn-side-by-side {
  max-width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom:5lvh;

}
@media screen and (width < 500px) {
  .btn-side-by-side {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .hero {
    padding:16px;
  }
  .logo {
    width: 100%;
  }
  .subtitle {
    width: 90%;
  }
}