.black {
  color:var(--clr-black);
}
.red {
  color:var(--clr-red);
}

.key-features {
  padding:calc(var(--default-padding) * 2) var(--default-padding);
  min-height: 115%;

  h1 {
    margin-bottom:var(--heading-margin);
    text-align: center;
  }

  .card-area {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:48px;
    
    .card {
      display: flex;
      flex-direction: column;
      max-width: 350px;
    
    }

     img {
      height: 200px;
      margin: 0 auto;
    }
    h2, p {
      text-align: center;
      margin-top:24px;
    }
  }
}