.black {
  color: var(--clr-black);
}

.red {
  color: var(--clr-red);
}

.key-features {
  padding: calc(var(--default-padding) * 2) var(--default-padding);
}

.key-features h2 {
  margin-bottom: var(--heading-margin);
  text-align: center;
}

.key-features .card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.key-features .card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.key-features .card img {
  height: 200px;
  margin: 0 auto;
}

.key-features .card h3,
.key-features .card p {
  text-align: center;
  margin-top: 24px;
}
