.situations {
  background-color: var(--clr-greenblack);
  padding: calc(var(--default-padding) * 2) var(--default-padding);
}

.situations h2 {
  color: var(--clr-lightblue);
  margin-bottom: var(--heading-margin);
}

.situations ul {
  margin-left: 48px;
}

.situations li {
  color: white;
  margin-bottom: 16px;
}

.situations img {
  object-fit: cover;
  min-width: 0;
  width: calc(100% - 32px);
  border-radius: 16px;
  margin: 0 auto;
  height: 100%;
  aspect-ratio: 16/9;
}

.situations-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 32px;
  max-width: 100%;
}

.divider-top,
.divider-bottom,
.divider-top > path,
.divider-bottom > path {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .situations-grid {
    grid-template-columns: 1fr;
  }
}
